.App {
  text-align: center;
  margin-top:1.5rem;
}
.form-element{
	margin:1rem;
}
input,label,button{
	font-size:1.2rem; 
	text-align: center;
}
button{
	margin-left: 1rem;
}
.cards-container{
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
.hero-card{
	box-shadow: 0 .3rem .8rem rgba(0,0,0,0.15);
	padding: 1rem;
	margin: 1rem;
}